<div class="side">
  <div class="side-head">
    <p>ユーザ：<%= current_user.nickname %></p>
    <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %></p>
  </div>

  <div class="side-list">
    <% if request.path != new_memo_path %>
      <div>
        <%= link_to "メモ作成", new_memo_path %>
      </div>
    <% end %>
    
    <% if side_memos.present? %>
      <% date = nil %>
      <% side_memos.each do |memo| %>
        <% if date == nil %>

          <% date = memo.created_at.to_date %>
          <div class="date"><%= link_to date, memo_path(0, date: date) %></div>
          <div class="date-list"><ul>

        <% elsif date != memo.created_at.to_date %>
          
          </ul></div>
          <% date = memo.created_at.to_date %>
          <div class="date"><%= link_to date, memo_path(0, date: date) %></div>
          <div class="date-list"><ul>
        
        <% end %>
        
        <li><%= memo.theme %></li>
      
      <% end %>
      </ul></div>
    <% end %>
  
  </div>

  <div class="side-tags-head">タグ</div>
  <div class="side-tags">
    <% tags.each do |tag| %>
      <div class="list-tag"><%=link_to tag.name, tag_memo_path(0, tag: tag.id) %></div>
    <% end %>
  </div>
</div>