<div class="memo-body">
  <%= render partial: "memos/side", locals: { side_memos: @side_memos } %>
  <div class="memo">
    <div class="form-head">
      <%= "#{@date}のゼロ秒メモ" %>
    </div>

      <%= @memo.theme %>
      <%= simple_format(@memo.text) %>

  </div>
  <%= render partial: "memos/list", locals: { list_memos: @list_memos, date: @date } %>
</div>